<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Guess The Word</title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <div class="wrapper">
      <div class="game-container">
        <h3>What do we say to the Lord of Death?</h3>
        <h2>"Not today."</h2>
        <a href="/"><button type="button" name="button">Play Again</button></a>
      </div>
    </div>
  </body>
</html>
