@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,700');

body {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  background-color: #030f21;
  color: #fff;
  font-weight: 300;
}

h1 {
  text-transform: uppercase;
  font-size: 4em;
  margin-bottom: 0;
}

h2 strong {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 50px;
}

.game-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  flex-wrap: wrap;
}

ul {
  list-style-type: none;
  display: flex;
  padding: 0;
}

li {
  font-size: 2em;
  padding-right: 20px;
}

.guess {
  padding-bottom: 8px;
}

.guessedLetters {
  font-size: 1.5em;
}

.image-box {
  width: 40%;
}

.hodor-mode-btn {
  margin: 25px;
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 10px;
  text-transform: uppercase;
  background-color: #d4d6d8;
  border: none;
  font-size: 1.1em;
  cursor: pointer;
  width: 200px;
  overflow: hidden;
}

.hodor-mode-btn:focus {
  outline: 0;
}

.hodor-mode-btn:hover {
  background-color: #9bb4cc;
  -webkit-transition: background-color .2s ease-in-out;
  -moz-transition: background-color .2s ease-in-out;
  -o-transition: background-color .2s ease-in-out;
  transition: background-color .2s ease-in-out;
}

.hodor-mode-btn:hover:before {
  content: "Hold the Door";
  animation: btn-slide-in .3s ease-in-out;
}

.hodor-mode-btn:hover span {
  display: none;
}

form {
  display: flex;
  align-items: center;
}

input {
  font-size: 1em;
  border: none;
  padding: 10px;
  margin-right: 10px;
}

input:focus {
  outline: none;
}

button {
  font-size: 1em;
  padding: 10px;
  border: none;
  text-transform: uppercase;
  background-color: #c5d8ec;
  letter-spacing: 1px;
  cursor: pointer;
}

button:hover {
  background-color: #9bb4cc;
  -webkit-transition: background-color .2s ease-in-out;
  -moz-transition: background-color .2s ease-in-out;
  -o-transition: background-color .2s ease-in-out;
  transition: background-color .2s ease-in-out;
}

@keyframes btn-slide-in {
  0% {
    position: relative;
    top: -30px;
  }
  100% {
    top: 0px;
  }
}
